@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<h3>Your Mail Has been Confirmed, Head to <a asp-area="Identity" asp-page="/Account/Login">Login</a></h3>